@import '~node_modules/modern-normalize/modern-normalize.css';
body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: $white-color;
    color: $black-color;
}
.container{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p{
    margin: 0;
}