<footer class="footer_container container ">
    <h2 class="footer_title">CONTACT US</h2>
    <h3 class="footer_subtitle">Get in touch with us</h3>
    <p class="footer_discr">
        Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus lacus fringilla nulla sollicitudin tristique.
    </p>
    <ul class="footer_list">
        <li> <a href="#"> <svg class="footer_icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-facebook"> </use>
             </svg> </a>
        </li>
        <li> <a href="#"><svg width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-twitter"> </use>
            </svg> </a>
        </li>
        <li> <a href="#"> <svg width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-linkedin-in"> </use>
            </svg> </a>
        </li>
    </ul>
    <address>
      <ul>
          <li> <a href="tel:+xxxxxxxxxxxx">+xx-xxxx-xxxx-xx</a></li>
          <li> <a href="mailto:goIteens@gmail.com">goIteens@gmail.com</a></li>
      </ul>
    </address>
    <form >
      <label for="user-name"></label>
      <input id="user-name" type="text" name="user-name" placeholder="Name">

      <label for="user-email"></label>
      <input id="user-email" type="email" name="user-email" placeholder="Email">

      <label for="message"></label>
      <textarea name="message" id="message" placeholder="Message" ></textarea>

      <button type="submit"></button>
    </form>
    <p>
        &copy; 2019 GoIteens Template. All Rights Reserved
    </p>
</footer>
