<header>
    <div class="header-nav">
        <div class="container nav">
            <a href="" class="logo">Mobileapp</a>
            <nav>
                <ul class="list-header">
                    <li> <a href="" class="item-header">HOME</a></li>
                    <li> <a href="" class="item-header">FEATURES</a></li>
                    <li> <a href="" class="item-header">TEAM</a></li>
                    <li> <a href="" class="item-header">TESTIMONIALS</a></li>
                    <li> <a href="" class="item-header">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>