<div class="menu-mobile js-menu-container">
<a href="" class="logo">Mobileapp</a>
<button type="button" class="mobile-close js-close-menu">
    <svg class="mobile-icon" width="24" height="24">
        <use href="./images/sprite.svg#close"></use>
    </svg>
</button>
<nav>
    <ul class="menu-mobile__list">
        <li> <a href="" class="menu-mobile__item">HOME</a></li>
        <li> <a href="" class="menu-mobile__item">FEATURES</a></li>
        <li> <a href="" class="menu-mobile__item">TEAM</a></li>
        <li> <a href="" class="menu-mobile__item">TESTIMONIALS</a></li>
        <li> <a href="" class="menu-mobile__item">CONTACT</a></li>
    </ul>
</nav>
</div>