footer{
    background-color: $bg-color;
    height: 612px;
    border-bottom: #B544FE;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.footer__content{
    padding-left: 16px;
}

.footer__title{
    padding-top: 80px;
    margin-bottom:  80px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    color: $white-color;
}

.footer__subtitle{
   margin-bottom: 20px;
   font-weight: 500;
   font-size: 24px;
   line-height: 1.21;
   color: $white-color;
}

.footer__discr{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $white-color;
}

.icon__list{
    margin-bottom: 20px;
    display: flex;
    gap: 14px;

}

.icon__item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
    fill: $white-color;
}

.icon__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: inherit;
    outline:1px solid transparent;
    border-radius: 50%;

}

.icon__link:hover,
.icon__item:hover {
    fill:$bg-color;
    stroke:  rgba(0, 197, 235, 1) ;
    background-color: $bg-color;
    outline: 1px solid rgba(0, 197, 235, 1)  ;
}


.address{
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;   
    
}

.address__link{
    color:$white-color;

}
.forms{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 16px;

}
    
.forms__input{
    
    margin-bottom: 20px;
    height: 40px;
    width: 288px;
    background: $white-color;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 11px 8px 12px 8px;
    outline: none;
        
}

.forms__input + .forms__input{
    margin-left: 32px;
}

.forms__textarea{
    margin-bottom: 20px;
    height: 162px;
    width: 608px;
    background: $white-color;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 11px 8px 12px 8px;
    outline: none;
}

.button{
    padding: 11px 59px 12px 59px;
    width: 181px;
    height: 42px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    color: $white-color;
    background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
    margin-bottom: 79px;
}

.button:hover{
    background: $bg-color;
    outline: 1px solid rgba(0, 197, 235, 1);
    // border: 1px solid linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.copy{
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: $white-color;
        border-top: 1px solid $white-color;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-left: 16px;
}

